.content-vbox {
    -fx-spacing: 20px; /* Espacement entre les éléments enfants */
}
/* Style de la carte principale */
.resource-card {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}

/* Style pour le titre */
.card-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

/* styles.css */

/* Style général pour le conteneur de la carte */
.web-view-container {
    -fx-background-color: #f0f0f0; /* Couleur de fond pour le conteneur */
}

/* Style pour la WebView (contenant la carte Leaflet) */
.web-view {
    -fx-font-size: 14px; /* Taille de la police pour le contenu de la WebView */
    -fx-text-fill: #333333; /* Couleur du texte */
    -fx-background-color: #ffffff; /* Couleur de fond pour la WebView */
}

/* Style pour les éléments de contrôle (facultatif) */
.button {
    -fx-background-color: #4CAF50; /* Couleur de fond des boutons */
    -fx-text-fill: #ffffff; /* Couleur du texte des boutons */
    -fx-padding: 10px 20px; /* Remplissage intérieur des boutons */
    -fx-font-size: 14px; /* Taille de la police des boutons */
    -fx-border-radius: 5px; /* Bordure arrondie des boutons */
}

/* Style pour d'autres éléments comme les libellés, etc. (facultatif) */
.label {
    -fx-font-size: 16px; /* Taille de la police des libellés */
    -fx-text-fill: #333333; /* Couleur du texte des libellés */
}
