.root{
    -fx-background-color:#EAEEF4;
}

.side_ankerpane{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    
}
.inner_pane{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;

}
.most_inner_pane{
    -fx-background-color:#6780E2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

#btn_workbench{
    -fx-background-color:#141313;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
.btn_workbench11{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
.pane_1{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
.progress{
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
}
.pane_11{
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
}
.pane_111{
    -fx-background-color:#FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;

}
.pane_1111{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.image-circulaire {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}
.text-field {
    -fx-background-color: #f2f2f2; /* Couleur de fond */
    -fx-text-inner-color: #333333; /* Couleur du texte */
    -fx-prompt-text-fill: #999999; /* Couleur du texte de l'invite */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon de la bordure */
    -fx-padding: 5px; /* Rembourrage interne */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-family: "Arial"; /* Famille de police */
}

.text-field:hover {
    -fx-background-color: #e6e6e6; /* Couleur de fond au survol */
}

.text-field:focused {
    -fx-border-color: #4d90fe; /* Couleur de la bordure en état de focus */
}

.text-field:disabled {
    -fx-opacity: 0.7; /* Opacité pour les champs désactivés */
}
.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #748CF1;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #b49c80;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
.tri-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.background{
    -fx-background-color: #16adfe;
}